$page-background-color: #f9f9f9;
$nav-bar-color: #172b35;
$nav-bar-text-color: #ff4955;
$header-background-color: #2d2d2d;
$highlight-color: #34b7b6;
$tab-border-color: #dddddd;
$padding-row-detail: 20px;


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: sans-serif;
  background-color: $page-background-color;
}

.navigation-bar {
  background-color: $nav-bar-color;
  border-color: $nav-bar-color;
  border-radius: 0;
  background-image: none;

  .navigation-link>a:hover {
    padding-bottom: 12px;
    border-bottom: 3px solid $highlight-color;
    background: #333;
    color: #fafafa;
    cursor: pointer;
  }

  .brand-link {
    display: inline-block;
    color: $nav-bar-text-color !important;
  }

  .logo {
    display: inline-block !important;
  }

  .github {
    a:hover {
      color: $nav-bar-text-color !important;
    }

    span {
      margin-left: 5px;
    }
  }
}

.page-header {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: $header-background-color;
  border-bottom: 0;
  margin-bottom: 0;
  h1, small {
    color: white;
  }
}

.loader {
  text-align: center;
  .loader-error {
    padding-top: 50px;
    padding-bottom: 10px;
    color: $highlight-color;
  }
}

.main-content {
  padding-top: 20px;
  padding-bottom: 50px;

  .last-update-info {
    font-size: small;
    text-align: right;
  }

  .provision-state-chart {
    text-align: center;
  }

  .pretty-key-value {
    font-size: small;
    white-space: pre-line;
    text-overflow: unset;
    overflow-wrap: break-word;
    padding-bottom: 10px;

    .pretty-key-value-label-0 {
      font-weight: bold;
      text-align: right;
    }

    .pretty-key-value-label-1 {
      text-decoration: underline;
      text-align: right;
    }

    .pretty-key-value-list {
      padding-left: 0px;
    }
  }

  .react-bs-table-container {
    .react-bs-table {
      background-color: white;
    }
    
    .react-bs-table-expand-cell {
      text-align: center;
    }

    .react-bs-table table tr th {
      color: $highlight-color;
    }

    .react-bs-table table td, .react-bs-table table th {
      white-space: pre-line;
      text-overflow: unset;
      overflow-wrap: break-word;
    }
  
    .react-bootstrap-table-page-btns-ul {
      .active.page-item a.page-link {
        background-color: $highlight-color;
        border-color: $highlight-color;
        color: white;
      }
    }
  
    .pagination > li > a,
    .pagination > li > span {
      color: $highlight-color;
    }
  
    .pagination > li > a:hover,
    .pagination > li > span:hover,
    .pagination > li > a:focus,
    .pagination > li > span:focus {
      color: $highlight-color;
    }
  }

  .row-container-tabs {

    ul.nav-tabs > li:not(.active) > a {
      color: $highlight-color;
    }

    div.tab-content {
      background-color: white;
      border-bottom: 1px solid $tab-border-color;
      border-left: 1px solid $tab-border-color;
      border-right: 1px solid $tab-border-color;

      .row-description, .row-additional-details  {
        padding-top: $padding-row-detail;
        padding-bottom: $padding-row-detail;
      }
    }
  }
}

$break-small: 768px;
@media screen and (max-width: $break-small) {
  .main-content .pretty-key-value .pretty-key-value-label-0,
  .main-content .pretty-key-value .pretty-key-value-label-1 {
    text-align: left;
  }
}
