html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: sans-serif;
  background-color: #f9f9f9;
}

.navigation-bar {
  background-color: #172b35;
  border-color: #172b35;
  border-radius: 0;
  background-image: none;

  .brand-link {
    display: inline-block;
    color: #ff4955 !important;
  }

  .logo {
    display: inline-block !important;
  }

  .github {
    a:hover {
      color: #ff4955 !important;
    }

    span {
      margin-left: 5px;
    }
  }
}

.page-header {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #2d2d2d;
  border-bottom: 0;
  margin-bottom: 0;
  h1, small {
    color: white;
  }
}


.main-content {
  padding-top: 20px;
  padding-bottom: 50px;

  .w-100 {
    width: 100%!important;
  }

  .pretty-key-value {
    font-size: small;
    white-space: pre-line;
    text-overflow: unset;
    overflow-wrap: break-word;
    padding-bottom: 10px;
    .pretty-key-value-label-0 {
      font-weight: bold;
      text-align: right;
    }
    .pretty-key-value-label-1 {
      text-decoration: underline;
      text-align: right;
    }
    .pretty-key-value-list {
      padding-left: 0px;
    }
  }

  .react-bs-table-container {
    .react-bs-table {
      background-color: white;
    }
    
    .react-bs-table-expand-cell {
      text-align: center;
    }

    .react-bs-table table tr th {
      color: #34b7b6;
    }

    .react-bs-table table td, .react-bs-table table th {
      white-space: pre-line;
      text-overflow: unset;
      overflow-wrap: break-word;
    }
  
    .react-bootstrap-table-page-btns-ul {
      .active.page-item a.page-link {
        background-color: #34b7b6;
        border-color: #34b7b6;
        color: #fff;
      }
    }
  
    .pagination > li > a,
    .pagination > li > span {
      color: #34b7b6;
    }
  
    .pagination > li > a:hover,
    .pagination > li > span:hover,
    .pagination > li > a:focus,
    .pagination > li > span:focus {
      color: #34b7b6;
    }
  }

  .row-container-tabs {
    ul.nav-tabs > li:not(.active) > a {
      color: #34b7b6;
    }
    div.tab-content {
      background-color: white;
      border-bottom: 1px solid #ddd;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;

      .row-description {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: small;
        white-space: pre-line;
        text-overflow: unset;
        overflow-wrap: break-word;
        
        .row-description-header {
          font-weight: bold;
          text-align: right;
        }
      }

      .row-additional-details {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
  }
}
