.App-navbar {
  border-radius: 0;
  background-image: none;
}

.App-brand-link {
  display: inline-block;
  color: #61dafb !important;
}

.App-logo {
  display: inline-block !important;
}

.App-github a:hover {
  color: #61dafb !important;
}

.App-github span {
  margin-left: 5px;
}

.App-main-header {
  margin-top: 80px;
  height: 150px;
  text-align: center;
}

.App-main-page-header {
  border-bottom: 0;
}

.App-main-content {
  background-color: #f8f9fa!important;
}
